*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 100px 100px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 100px 100px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 100px 100px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 100px 100px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 100px 100px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
body{
  max-width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #c5c5c5; 
    background-image: url(https://i.postimg.cc/KYcLqCb8/fondo-main.png);
    background-repeat: repeat;
    background-position: 0 0;
    background-attachment: scroll;
  
    -webkit-animation: bg-scrolling-reverse 5.92s infinite linear;
    -moz-animation: bg-scrolling-reverse 5.92s infinite linear;
    -o-animation: bg-scrolling-reverse 5.92s infinite linear;
    animation: bg-scrolling-reverse 5.92s infinite linear;
    font-family:Pixelify Sans;
  
}

nav{
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    font-family: Pixelify Sans;
}
#nav{
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
}
.logo_nav{
    width: 220px;
    height: 120px;
    margin: 20px 30px 50px 50px;
    transition: transform 0.2s ease;
}
.logo_nav:hover{
    transform: scale(1.1);
}

.nav_derecho{
    margin: 50px 50px 50px 50px;
}
.nav_derecho a{
    text-decoration: none;
    color: #dfdfdf;
    font-size: 25px;
    margin: 50px 50px 50px 50px;
}

/*menú desplegable*/

select{
    background-color: #000;
    color: #dfdfdf;
    font-family: Pixelify Sans;
    font-size: 25px;
    border: none;
    padding: 10px;
    cursor: pointer;
}
select:hover{
    background-color: #7a0000c1;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
option{
    background-color: #000;
    color: #dfdfdf;
    font-family: Pixelify Sans;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

/*banner*/

header{
  height: 120vh;
  background-color: #000;
}
.banner{
    padding-top: 50vh;
    height: 100vh;
    width: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-principal{
    width: 100%;
    height: 120vh;
    object-fit: cover;
}

.logo-boton{
    position: absolute;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    z-index: 1;
}

.logo-juego{
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100vh;
    height: 50vh;
    z-index: 1;
}
.descripcion-juego{
    position: absolute;
    top: 40%;
    left: -20%;
    color: #dfdfdf;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    font-family: Pixelify Sans;
}
.boton-accionar{
    font-size: 5vh;
    font-family: Pixelify Sans;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    top: 65%; 
    animation: moverAbajo 1s linear infinite;
    transition: 0.3s ease;
  }
    @keyframes moverAbajo {
      0% {
        top: 65%;
      }
      50% {
        top: 66%;
        color: #959595;
      }
      100% {
        top: 65%;
      }
    }
.separacion{
    position: absolute;
    top: 115%;
    width: 100%;
    height: 2vh;
    background-color: #000;
    z-index: 100;
}

#introVideo {
  position: absolute;
  top: 16vh;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 50;
}


/*main*/

  main {
    padding-top: 10vh;
    height: 900vh;
    width: 100%
  }




  .descripcion-izq, .descripcion-der {
    opacity: 0;
    transition: all 1.0s ease;
    position: relative;
  }
  
  .descripcion-izq {
    left: -50px;
  }
  
  .descripcion-der {
    right: -50px;
  }
  
  .scroll-activo-izq {
    opacity: 1;
    left: 0;
  }
  
  .scroll-activo-der {
    opacity: 1;
    right: 0;
  }
  
  .img-izq, .img-der {
    opacity: 0;
    transition: all 0.8s ease;
    position: relative;
  }
  
  .img-izq {
    left: -1px;
  }
  
  .img-der {
    right: -1px;
  }
  
  .scroll-activo-img-izq {
    opacity: 1;
    left: 0;
  }
  
  .scroll-activo-img-der {
    opacity: 1;
    right: 0;
  }

  
/* Texto con delay */
.scroll-activo-izq {
  opacity: 1;
  left: 0;
  transition-delay: 0.2s;
}

.scroll-activo-der {
  opacity: 1;
  right: 0;
  transition-delay: 0.2s;
}

/* Imagen con delay distinto */
.scroll-activo-img-izq {
  opacity: 1;
  left: 0;
  transition-delay: 0.4s;
}

.scroll-activo-img-der {
  opacity: 1;
  right: 0;
  transition-delay: 0.4s;
}




.quienes_somos{
  color: rgb(255, 255, 255);
}
.titulo{
  font-family: Pixelify Sans;
  display: flex;
  margin-top: 10vh;
  justify-content: center;
}
.titulo h1{
  color: #ffffff;
  font-size: 80px;
  padding: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: #8a0000;
}

.flex_descripcion_qs{
  display: flex;
  justify-content: space-evenly;
  
}
.foto_grupo img{
  margin: 0px 15vh 0px 30vh;
}
.descripcion_grupo{
  padding: 40px;
  margin: 5vh 30vh 10vh 10vh;
  border: #3f3f3f 10px solid;
  background-color: #000000;
  font-size: 25px;
}


#avatars-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.avatar {
    cursor: pointer;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    max-width: 500px;
    height: 300px;
    transition: transform 0.3s ease;
}
.avatar:hover{
    border: 2px solid red;
    transform: scale(1.1);
    cursor: pointer;
  }
  .info-box {
    opacity: 0;
    transform: translateY(30px);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-image: url(https://i.postimg.cc/zGrTWVPW/fondo-info.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    margin: 100px auto;
    max-width: 1000px;
    height: 560px;
    display: none;
  }
  
  .info-box.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  

.container_info_box{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.centro_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}
.titulo_info{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 30px;
    color: #dfdfdf;
    text-align: center;
}
.desc_info{
    font-size: 18px;
    color: #dfdfdf;
    text-align: start;
}
.izquierda_info{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.izquierda_info img{
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-left: 70px;
    margin-right: 80px;
    background-color: #8080805f;
    border: #fff 4px solid;
    border-radius: 10px;
}
.derecha_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.btn-flex{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-right: 5vh;
    flex-direction: column;
    margin-top: 20px;
}
.btn-flex a{
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btn-flex img{
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    filter: brightness(0) invert(1);
    border: rgb(255, 0, 0) 2px solid;
}
.btn-flex a:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.fuego-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
}
.salir-boton{
    margin-left: 20vh;
    width: 100px;
    padding: 10px;
    transition: transform 0.3s ease;
}
.salir-boton:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.descripcion_living-hell{
  padding: 40px;
  margin: 0vh 10vh 25vh 10vh;
  border: #3f3f3f 10px solid;
  background-color: #000000;
  font-size: 25px;
}

.flex_detras_de_codigo{
  display: flex;
  justify-content: space-evenly;
}

.descripcion-izq{
  padding: 40px;
  margin: 5vh 0vh 10vh 10vh;
  border: #3f3f3f 10px solid;
  background-color: #000000;
  font-size: 25px;
}
.descripcion-der{
  
  padding: 40px;
  margin: 5vh 10vh 0vh 10vh;
  border: #3f3f3f 10px solid;
  background-color: #000000;
  font-size: 25px;
}
.img-izq img{
  width: 110vh;
  padding: 10vh;
}
.img-der img{
  width: 110vh;
  padding: 10vh;
}


.Ranking_titulo{
    font-family: Pixelify Sans;
  padding: 150px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 80px;
  padding: 30px;
  margin: 10vh 50vh 10vh 50vh;
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: #8a0000;

}
.contenedor_ranking{
    background-color: #000;
    display: flex;
    justify-content: center;
    margin: 0vh 10vh 0vh 10vh;
    
    th{
        color: #fff;
        font-size: 6vh;
        font-weight: bold;
        padding: 5vh;
    }

}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 0vh 1vh 0vh 0vh;
}

td{
    color: #007ac8;
    font-weight: bold;
    font-size: 4vh;
    padding: 2vh
}
.primer_lugar{
    color: #d48f0b;
    font-weight: bold;
    font-size: 6vh;
}

/*footer*/

footer{
  background-color: #000;
  height: 80vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
  overflow: hidden;
}

.logo-izquierdo-footer{
    display: flex;
    justify-content: start;
}
.logo-izquierdo-footer img{
    width: 350px;
    height: 180px;
    margin: 30vh 30px 50px 20vh;
    transition: transform 0.2s ease;
}
.logo-centro-footer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #fff 2px solid;
    margin: 5vh 50vh 0vh 50vh;
  }
.logo-centro-footer a{
    text-decoration: none;
    color: #dfdfdf;
    font-size: 25px;
    margin: 5vh 5vh 5vh 5vh;
    transform: transform 0.2s ease;
  }
.logo-centro-footer a:hover{
    color: #7a0000c1;
    transform: translateY(5px);
    transition: color 0.3s ease;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #646464;
    color: white;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.top{
    height: 80px;
    transition: transform 0.4s ease;
}

.top:hover{
    transform: translateY(-5px);
}

.scroll-to-top:hover {
    background-color: #767676;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}



/* css cristofer */
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 25px;
  background-color: #111;
  border: 2px solid #444;
  border-radius: 8px;
  color: #fff;
  font-family: 'Pixelify Sans', cursive;
  box-shadow: 0 0 10px #0ff;
}

.form-title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.styled-form label {
  display: block;
  margin-top: 10px;
}

.styled-form input {
  width: 100%;
  padding: 8px;
  background: #222;
  border: 1px solid #555;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.styled-form button {
  width: 100%;
  padding: 10px;
  background: #0ff;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.styled-form button:hover {
  background: #0cc;
}

.error-messages {
  color: red;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.form-link {
  text-align: center;
  margin-top: 10px;
}

/* Estilos para mensajes flash */
.flash-messages {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1000;
}

.alert {
    background-color: #f44336;
    color: white;
    padding: 15px;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    animation: slideIn 0.3s ease-out;
}

.alert.success {
    background-color: #4CAF50;
}

@keyframes slideIn {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* Estilos para formularios de autenticación */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 20px;
}

.auth-form {
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid #00ff00;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.3);
}

.auth-form h2 {
    color: #00ff00;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Pixelify Sans', monospace;
    font-size: 2em;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: #00ff00;
    margin-bottom: 8px;
    font-family: 'Pixelify Sans', monospace;
    font-size: 1.1em;
}

.form-group input {
    width: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #00ff00;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Pixelify Sans', monospace;
    transition: all 0.3s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #00ffff;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.btn {
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Pixelify Sans', monospace;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn-primary {
    background: linear-gradient(45deg, #00ff00, #00ffff);
    color: #000000;
    width: 100%;
    margin-top: 10px;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #00ffff, #00ff00);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 255, 0, 0.4);
}

.btn-secondary {
    background: transparent;
    color: #00ff00;
    border: 2px solid #00ff00;
}

.btn-secondary:hover {
    background: #00ff00;
    color: #000000;
}

.auth-link {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-family: 'Pixelify Sans', monospace;
}

.auth-link a {
    color: #00ffff;
    text-decoration: none;
}

/* Validación de campos */
.field-error {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
    font-family: 'Pixelify Sans', monospace;
}

.form-group input.valid {
    border-color: #00ff00 !important;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.3);
}

.form-group input.invalid {
    border-color: #ff0000 !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
}

/* Estilos del menú desplegable mejorados */
#nav-selector {
    margin-left: 20px;
}

/* Mejoras para el botón scroll to top */
.scroll-to-top {
    transition: all 0.3s ease;
    opacity: 0.8;
}

.scroll-to-top:hover {
    opacity: 1;
    transform: translateY(-2px);
}

/* Animaciones suaves para las info-boxes */
.info-box {
    backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 255, 0, 0.3);
    border-radius: 10px;
}

.info-box.active {
    animation: slideInUp 0.5s ease-out;
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive improvements */
@media (max-width: 768px) {
    .flex_descripcion_qs {
        flex-direction: column;
    }
    
    .nav_derecho {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    
    .nav_derecho a, .nav_derecho select {
        margin: 5px;
        font-size: 18px;
    }
    
    .avatar {
        max-width: 300px;
        height: auto;
        margin: 10px;
    }
    
    .container_info_box {
        flex-direction: column;
        text-align: center;
    }
}

.auth-link a:hover {
    color: #00ff00;
    text-decoration: underline;
}
